:root {
    /* size */
    --width-link : 150px;
    --height-link : calc(30px + var(--width-link));
    --size-link-img : calc(var(--width-link)*0.7);

    /* color */
    --border-color-block : white;
    --border-color-link : black;
    --background-color-block : white;
    --color-link-title : black;
    
    /* couleur principal et couleur complémentaire */

    /* --background-color-r : 240;
    --background-color-g : 248;
    --background-color-b : 255;
    --background-color-block : rgb(var(--background-color-r), var(--background-color-g), var(--background-color-b));
    --background-color-block-comp : rgb(
                                        calc(255 - var(--background-color-r)), 
                                        calc(255 - var(--background-color-g)), 
                                        calc(255 - var(--background-color-b))
                                        ); */

    /* Arrière plan */
    --background-angle : 160deg;
    --backgroud-color-1 : #acc3e7;
    --backgroud-color-2 : #5c8ddb;
    --backgroud-color-3 : #a260d8;
    --backgroud-color-4 : #bda2d3;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    overflow: hidden;
}
* {
    box-sizing: border-box;
}

#attribution {
    font: caption;
    position: absolute;
    bottom: 20px;
    color: white;
}

#indication {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#img-url {
    width: 130px;
    height: auto;
}

#indication-flexBox {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

#indication p {
    font-size: x-large;
    padding-top: 5px;
    margin: 0;
}

#add {
    width: 40px;
    height: auto;
    border: 1px solid var(--border-color-block);
    border-radius: 5px;
    cursor: pointer;
}

/* block qui s'affiche quand on veut ajouter un nouveau link */
.frameLink {
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 330px;
    height: 330px;
    /* background-color: var(--background-color-block-comp); */
    background-image: linear-gradient(calc(var(--background-angle) + 180deg), var(--backgroud-color-1), var(--backgroud-color-2), var(--backgroud-color-3), var(--backgroud-color-4));
    z-index: -100;
    border-radius: 15px;
    box-shadow: 0px 7px var(--border-color-block), 0 5px 8px rgba(0, 0, 0, 0.411), 0 6px 20px rgba(0, 0, 0, 0.603);
    border: 2px solid var(--border-color-block);
    padding: 0 25px;
    color: white;
    font-size: large;
    transition: all 0.4s ease-out;
}

.frameLink h2 {
    text-align: center;
    margin-bottom: 35px;
}

.frameLink [type="text"] {
    width: 100%;
    margin: 10px 0 25px 0;
}

.frameLink-flexBox {
    display: flex;
    margin: 27px 0;
    justify-content: space-between;
}

.frameLink-flexBox > * {
    width: 80px;
    height: 28px;
    border: none;
    border-radius: 5px;
    border: 1px solid black;
    cursor: pointer;
}

.frameLink #valider {
    background-color: dodgerblue;
    color: white;
    font-weight: bold;
}

.frameLink #valider:hover {
    background-color: rgb(23, 115, 206);
}

.website {
    width: 100vw;
    height: 100vh;
    padding: 45px;
    background-image: linear-gradient(var(--background-angle), var(--backgroud-color-1), var(--backgroud-color-2), var(--backgroud-color-3), var(--backgroud-color-4));
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    gap: 45px;
}

.link {
    position: relative;
    display: flex;
    width: var(--width-link);
    height: var(--height-link);
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--background-color-block);
    border-radius: 15px;
    box-shadow: 0px 7px var(--border-color-link), 0 5px 8px rgba(0, 0, 0, 0.411), 0 6px 20px rgba(0, 0, 0, 0.603);
    border: 2px solid var(--border-color-link);
    transition: all 0.3s ease-out;
}

.link:hover {
    background-color: transparent;
}

.link img {
    width: var(--size-link-img);
    height: var(--size-link-img);
    border-radius: 15px;
    object-fit: cover;
}

.title {
    align-self: normal;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; 
    font-size: 14px;
    color: var(--color-link-title);
    padding: 0 15px;
}

a:link {
    text-decoration: none;
}

.menu {
    position: absolute;
    top: 0;
    right: 10px;
    border: none;
    padding: 0;
    font-size: 21px;
    background-color: transparent;
    color: var(--background-color-block);
    cursor: pointer;
}